# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/
.cursor/

# wechat private config
project.private.config.json
.trae/rules/project_rules.md
local-server/data/soups.json
local-server/
